@media (max-width: 767px) {
  .about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5em;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 2rem;
  }
  
  .info_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    width: 90%;
    height: 100%;
  }
  
  .about h1 {
    font-size: 2.5rem;
    text-align: left;
    text-align: center;
  }

  .about p {
    color: white;
    font-size: 0.9rem;
  
  }
  
  .about img {
    /* max-width: 200px;
    margin: 0;
    align-self: center; */
    display: none;
  }

  b {
    color: var(--secondary-color);
  }

  .btn {
    align-self: center;
  }
  
}

@media (min-width: 768px) {

  .about {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem;
    justify-content: space-around;

  }
  
  .info_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 60%;
    height: 100%;

  }
  
  .about h1 {
    font-size: 3.5rem;
    text-align: left;
  }
  
  .about p {
    color: white;
    font-size: 1rem;
  
  }

  .about img {
    max-width: 300px;
  }

  b {
    color: var(--secondary-color);
  }
}

a .btn {
  text-align: center;
}

.btn {
  text-decoration: none;
  border: none;
  background-color: white;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 50px;
  padding: 1rem;
  width: fit-content;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}