@media (max-width: 767px) {
  .navbar {
    width: 100vw;
    height: 7vh;
    min-height: 35px;
    background-color: var(--secondary-color);
    padding: 0 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
  }
  
  .navbar p {
    display: none;
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  .nav_list {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
  }
  
  .nav_list li a, .nav_list li p {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .nav_list li a:hover {
    color: white;
  }
  
  p {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    width: 100vw;
    height: 7vh;
    min-height: 35px;
    background-color: var(--secondary-color);
    padding: 0 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
  }
  
  .navbar p {
    font-weight: 700;
    font-size: 1.1rem;
  }
  
  .nav_list {
    display: flex;
    list-style: none;
    gap: 2em;
  }
  
  .nav_list li a, .nav_list li p {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
  }
  
  .nav_list li a:hover {
    color: white;
  }
  
  p {
    font-size: 1.3rem;
  }
}