#root {
  --primary-color: #171B20;
  --secondary-color: #f3b81c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  
}

html, body, #root {
  background-color: var(--primary-color);
  /* height: 100%; */
  color: white;
}

ul.indicators > div.active {
  opacity: 1;
}